/* App.css */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui;
}

nav {
  padding: 10px;
  margin-bottom: 10px;
  background: steelblue;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none !important;
  color: white !important;
}

a:hover {
  color: darkblue !important;
}